In [1]:
import tensorflow as tf
import pandas as pd

In [3]:
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
보스턴 = pd.read_csv(파일경로)
print(보스턴.columns)
보스턴.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [5]:
독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
종속 = 보스턴[['medv']]
print(독립.shape, 종속.shape)

(506, 13) (506, 1)

In [6]:
X= tf.keras.layers.Input(shape=[13])
Y= tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X , Y)
model.compile(loss='mse')

In [14]:
model.fit(독립, 종속, epochs = 10)

Epoch 1/10
16/16 [==============================] - 0s 990us/step - loss: 25.7152
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 25.4054
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 26.1467
Epoch 4/10
16/16 [==============================] - 0s 931us/step - loss: 25.9823
Epoch 5/10
16/16 [==============================] - 0s 909us/step - loss: 25.6754
Epoch 6/10
16/16 [==============================] - 0s 944us/step - loss: 25.8242
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 25.5854
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 26.0874
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 26.2893
Epoch 10/10
16/16 [==============================] - 0s 963us/step - loss: 26.4356

In [17]:
# 실제 값과 비교
model.predict(독립[0:5])

array([[29.348959],
       [24.579426],
       [30.403067],
       [29.643053],
       [29.042845]], dtype=float32)

In [18]:
종속[0:5]

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2